<html>
<head>
<style>

    body {
        text-align: center;
        margin-top: 50px;
        font-size: 25px;
    }

    h1 {
        color: red;
    }
    iframe{
        width: 100%;
        height: 65%;
        border: 0;
    }

</style>
</head>


<body>
    <h1> Covid Stats </h1>
    <form method="POST">
    	<label>Country Name</label>
    	<br> <br>
    	<input placeholder="Country" name="text">
    	<input type="submit">
    </form>
    <iframe src="{{image}}"></iframe>
    <p> You have {{count}} visitors </p>

</body>
</html>
